.App {
  text-align: center;
  background-color: #f4e9dd;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.App-logo-mobile {
  height: 60vmin;
}

.bg-cream {
  background-color: rgb(97, 97, 97);
}

.App-Projects {
  background-color: #daddd8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navbar-Links {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

nav.mobileNav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  /* background: #8f8a8a9a; */
  padding-top: 0;
}
.mobileNav {
  width: 100%;
}

nav.mobileNav ul {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  list-style-type: none;
  flex-flow: column nowrap;
  border-top: 1px solid #181818;
  width: 100%;
  background: red;
  padding: 0;
}
nav.mobileNav ul li a {
  text-decoration: none;
  color: rgba(245, 242, 242, 0.934);
}

.link {
  font-size: x-small;
}

.Title {
  padding: 0.5ch;
}

.AboutMe-Mobile {
  padding: 4ch;
  padding-bottom: 7ch;
  background-color: #c7cac4;
  font-size: medium;
  flex-shrink: 0;
}

/* @media only screen and (max-width: 1003px) {
  .App-logo {
    width: "50";
    height: "50";
  }
} */

.AboutMe {
  padding: 3ch;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: x-large;
  flex-basis: 100%;
}

div.AboutMe p {
  padding-right: 2ch;
  padding-left: 2ch;
}

div.carousel.slide {
  width: 100%;
}
div.carousel-caption {
  position: sticky;
  padding: 5ch;
  padding-top: 14ch;
  font-size: medium;
}

.project {
  display: flex;
  /* justify-content: baseline; */
  /* column-gap: 20px; */
  flex-direction: row wrap;
  align-content: center;
}

.App-Projects-Mobile {
  background-color: #daddd8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 4ch
}

.project-mobile {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.carousel-caption.mobile {
  padding-top: 0;
}

div.skills.col-lg-2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: center;
  padding-left: 9ch;
}

div.skills.col-lg-2 h5 {
  text-align: start;
  color: #75706b;
  font-size: 1em;
  /* position: sticky; */
}

div.Skills h3 {
  padding-bottom: 4ch;
  color: #75706b;
}

div.Skills.container-fluid {
  padding-top: 8ch;
  padding-bottom: 10ch;
  overflow: hidden;
}

img.skills-icon {
  height: 50%;
}

img.skills-icon-mobile {
  height: 30%;
}

div.Skills-mobile.container-fluid {
  padding-top: 5ch;
  overflow: hidden;
}

div.skills-mobile.col {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: center;
  padding-left: 5ch;
}

div.Skills-mobile h3 {
  padding-bottom: 2ch;
  color: #75706b;
}

div.skills-mobile h5 {
  text-align: start;
  color: #75706b;
  font-size: 1em;
}

/* div.skills.col-lg-2 ul {
  text-align: start;
  list-style-type: disc;
  padding-left: 2ch;
  line-height: 1.5ch;
  font-size: 0.7em;
} */

/* div.carousel-caption {
  float: right;
} */

/* div.App-Projects.container.carousel {
  display: flex;
  flex-flow:column wrap
} */

/* .mushroom:hover {
  pointer-events: none;
} */

/* .App-link {
  color: #61dafb;
} */
