.App {
  text-align: center;
  background-color: #daddd8;
}

.App-logo {
  height: 90vmin;
  pointer-events: none;
}

.bg-cream {
  background-color: #daddd8;
}

.App-Projects {
  background-color: #daddd8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navbar-Links {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

/* .Navbar-Link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
} */

.link {
  font-size: x-small;
}

.App-link {
  color: #61dafb;
  /* font-size: 200px; */
}

@media only screen and (max-width: 852px) {
  .Navbar-Links {
    display: table-cell;
    border-left: 0;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
