.App {
  text-align: center;
  background-color: #f4e9dd;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
}

.App-logo-mobile {
  height: 60vmin;
}

.bg-cream {
  background-color: rgb(97, 97, 97);
}

.Navbar-Links {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

nav.mobileNav {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 0.2ch;
}

nav.mobileNav ul {
  display: flex;
  list-style-type: none;
  flex-flow: column nowrap;
  border-top: 1px solid #c99646;
  width: 100%;
  background: #c2b9b03c;
  padding: 0;
}
nav.mobileNav ul li a {
  text-decoration: none;
  color: rgba(245, 242, 242, 0.934);
}

.link {
  font-size: x-small;
}

.Title {
  padding: 0.5ch;
}

.AboutMe-Mobile {
  padding: 5ch;
  font-size: medium;
  flex-shrink: 0;
}

div.AboutMe-Mobile p {
  padding-top: 2ch;
  font-family: "Arvo", serif;
  font-size: 2ch;
}

div.AboutMe-Mobile h1 {
  padding-top: 1ch;
  font-family: "Satisfy", cursive;
  font-size: 3em;
}

.AboutMe {
  padding: 3ch;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: x-large;
  flex-basis: 100%;
}

div.AboutMe p {
  padding-right: 2ch;
  padding-left: 2ch;
}

div.AboutMe h1 {
  font-family: "Satisfy", cursive;
  font-size: 3em;
}

.App-Projects {
  background-color: #daddd8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3ch;
}

.project {
  display: flex;
  flex-direction: row wrap;
  align-content: center;
}

div.carousel.slide {
  width: 100%;
}

div.carousel-caption {
  position: sticky;
  padding: 5ch;
  padding-top: 11ch;
  font-size: large;
}

div.carousel-caption h3 {
  font-size: 2em;
}

div.carousel-caption p {
  font-size: 1.5em;
}

div.mobile.carousel-caption h3 {
  font-size: 1.5em;
}

div.mobile.carousel-caption p {
  font-size: 1em;
}

.mushroom {
  height: 35ch;
}

.cache22 {
  padding: 8ch;
}

.cache22-mobile {
  padding: 5ch;
}

.App-Projects-Mobile {
  background-color: #daddd8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 4ch;
}

.App-Projects h1 {
  font-family: "Satisfy", cursive;
  font-size: 3em;
}

.App-Projects-Mobile h1 {
  font-family: "Satisfy", cursive;
  font-size: 3em;
}

.project-mobile {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.carousel-caption.mobile {
  padding-top: 0;
}

div.skills.col-lg-2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: center;
}

div.skills.col-lg-2 h5 {
  text-align: start;
  color: #75706b;
  font-size: 1em;
  font-family: "Arvo", serif;
}

div.Skills h3 {
  padding-bottom: 2ch;
  color: #75706b;
  font-family: "Satisfy", cursive;
  font-size: 4em;
}

div.Skills.container-fluid {
  padding-top: 8ch;
  padding-bottom: 10ch;
  overflow: hidden;
  padding-left: 7ch;
}

img.skills-icon {
  height: 50%;
}

img.skills-icon-mobile {
  height: 40px;
  width: 40px;
}

div.Skills-mobile.container-fluid {
  padding: 5ch;
  overflow: hidden;
}

div.skills-mobile.col {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: center;
  padding-left: 5ch;
  max-width: 120px;
}

div.Skills-mobile h3 {
  padding-bottom: 2ch;
  color: #75706b;
  font-family: "Satisfy", cursive;
  font-size: 3em;
}

div.skills-mobile h5 {
  text-align: start;
  color: #75706b;
  font-size: 1em;
  font-family: "Arvo", serif;
  width: 80px;
}

.main-footer {
  background-color: rgb(97, 97, 97);
  font-family: "Arvo", serif;
  overflow: hidden;
}

div.main-footer.container-fluid h4 {
  font-family: "Satisfy", cursive;
  font-size: 3em;
}

div.main-footer.container-fluid .row {
  padding-top: 3em;
  padding-bottom: 2em;
}

div.main-footer.container-fluid p {
  padding-bottom: 2em;
}

.footer-icons {
  color: #c99646;
  width: 40px;
  height: 40px;
}

.main-footer-mobile {
  background-color: rgb(97, 97, 97);
  font-family: "Arvo", serif;
  overflow: hidden;
}

div.main-footer-mobile.container-fluid h4 {
  font-family: "Satisfy", cursive;
  font-size: 2.5em;
}

div.main-footer-mobile.container-fluid .row {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

div.main-footer-mobile.container-fluid p {
  font-size: 0.8em;
}

.footer-icons-mobile {
  color: #c99646;
  width: 30px;
  height: 30px;
}
